body{
    background-color:#333333;
}

*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card{
    margin-top:50px;
    display: flex;
    justify-self: center;
    width: 15vw;
    height: 25vh;
    border-radius: 10px;
    transition: all .3s ease;
    position: relative;
}

.card:hover{

    box-shadow: 0px 0px 20px white;
}
.red{
    background-color: red;
    background-image: url("hidden.png");
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: center;
}
.blue{
    background-color: blue;
    background-image: url("hidden.png");
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: center;
}
.green{
    background-color: green;
    background-image: url("hidden.png");
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: center;
}
.brown{
    background-color: brown;
    background-image: url("hidden.png");
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: center;
}
.violet{
    background-color: violet;
    background-image: url("hidden.png");
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: center;
}
.orange{
    background-color: orange;
    background-image: url("hidden.png");
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: center;
}
.hidden{
    transform: rotateY(360deg);
    background-image: url("hidden.png");
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: center;
    background-color: white;
    transition: transform .5s ease;
}
.off{
    filter:opacity(0);
}